header {
  height: 100px;
  margin: auto 5px;
  background-color: white;
  display: flex;
  align-items: center;
}

.header-line {
  border: 0.5px solid #9f9f9f;
}
.rubik {
  font-family: "Rubik", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.header-logo img,
.about img {
  margin: 5px 5px;
  width: 25px;
}

.header-logo p,
.about p {
  display: inline-block;
  font-weight: 700;
  align-items: center;
  color: #6a4029;
}

.header-menu li {
  display: inline-block;
  margin-right: 10px;
  padding-top: 10px;
}
header-menu a.active {
  font-weight: 700;
}

/* .navbar-nav .nav-item a.active {
  position: absolute;
  border: 1px solid #6a4029;
  box-shadow: 0px 0px 20px rgba(106, 64, 41, 0.67);
  width: 300px;
  height: 0px;
} */

.header-menu li a {
  color: #6a4029;
}

.header-menu li a:hover {
  font-weight: 700;
  text-decoration: none;
}

.header-logo {
  flex: 1;
}

.header-menu {
  flex: 1;
  color: #6a4029;
}

.header-profile {
  flex: 1;
}

.header-profile .form-control {
  border-radius: 30px;
  background-color: #efeeee;
}

.header-profile img {
  margin-right: 20px;
}

.header-profile .photo {
  border-radius: 50%;
}

a {
  text-decoration: none;
}

/* CONTENT */
main {
  position: relative;
  min-height: 900px;
}
/* .card {
  position: relative;
  padding-top: 60px;
  margin: 5px;
  height: 200px;
} */
/* img.menu {
  position: absolute;
  top: -40px;
}
.card-title {
  padding-top: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 101.34%;
  text-align: center;
}
.card-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 25px;
  text-align: center;

  color: #6a4029;
} */
.left-content-line {
  /* 
  width: 400px;
  height: 100%;

  border: 0.5px solid #9f9f9f;
  top: -110px;
  left: -110px;
  z-index: 10; */
  position: absolute;
  top: 0px;
  left: 290px;
  width: 0px;
  min-height: 1000px;
  border: 0.5px solid #9f9f9f;
  z-index: 0;
}
.main-set {
  background-color: #bcbaba;
}
.box1,
.box2,
.box3 {
  border-radius: 20px;
}
.box1 {
  position: absolute;
  font-family: "Rubik", sans-serif;
  width: 284px;
  height: 472px;
  background-color: #ffcb65;
  top: 200px;
  left: -50px;
  z-index: 10;
  text-align: center;
}

.box1 img {
  border-radius: 50px 50px 50px 50px;
  padding-top: 70px;
  width: 200px;
}

.col-lg-3 h1.rubik {
  position: absolute;
  width: 174px;
  height: 30px;
  left: 0px;
  top: 55px;

  font-weight: 700;
  font-size: 20px;
  line-height: 18px;
  text-align: center;
}

.col-lg-3 p {
  position: absolute;
  width: 174px;
  height: 30px;
  left: 0px;
  top: 90px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

.box2 {
  position: absolute;
  width: 284px;
  height: 400px;
  top: 236px;
  left: -25px;
  z-index: 9;
  background-color: black;
}
.box3 {
  position: absolute;
  z-index: 8;
  width: 284px;
  height: 338px;
  top: 267px;
  left: -7px;
  background-color: #895537;
}
.col-md-3 {
  background-color: rgba(255, 255, 255, 1);
}

.menu {
  padding: 10px;
  margin-top: 80px;
  background-color: white;
  text-align: center;
  border-radius: 30px;
  position: relative;
  height: 180px;
}

.menu p {
  line-height: 101.34%;
}

.menu-title {
  padding-top: 80px;
  font-weight: 900;
  font-size: 22px;
}

.menu img {
  position: absolute;
  /* top: -60px;
  left: -30px; */
  top: -30px;
  left: 6px;
}

/* FOOTER */
.about .description p {
  width: 25%;
  word-wrap: break-word;
}

#footer-set {
  background-color: #f8f8f8;
  position: relative;
  z-index: 3;
}

footer {
  display: flex;
  height: 400px;
  align-items: center;
  margin: 0 auto;
}

footer .about {
  flex: 3;
}

footer .product,
footer .engage {
  flex: 1;
  font-weight: 700;
}
.product li,
.engage li {
  list-style-type: none;

  font-size: 15px;
  line-height: 2;
}

.product li a,
.engage li a {
  color: black;
  font-weight: 10;
}

.product p,
.engage p {
  padding-left: 40px;
}
