html {
  margin: 0;
  padding: 0;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.header-set {
  background-color: white;
  z-index: 10;
}
header {
  height: 100px;
  margin: auto 5px;

  display: flex;
  align-items: center;
}

.rubik {
  font-family: "Rubik", sans-serif;
}

.header-logo img,
.about img {
  margin: 5px 5px;
  width: 25px;
}

.header-logo p,
.about p {
  display: inline-block;
  font-weight: 700;
  align-items: center;
  color: #6a4029;
}

.header-menu li {
  display: inline-block;
  margin-right: 10px;
  padding-top: 10px;
}

.header-bar .fa-bars,
.header-bar img {
  display: none;
  color: rgba(255, 186, 51, 1);
}

.header-menu li a {
  color: #6a4029;
}

.header-menu li a:hover {
  font-weight: 700;
  text-decoration: none;
}

/* .header-profile .fa-search {
  display: none;
} */

.header-logo {
  flex: 1;
}

.header-menu ul {
  padding-left: 0;
  margin-left: -50px;
}
.header-menu {
  flex: 1;
  color: #6a4029;
}

.header-profile {
  flex: 1;
}

.header-menu a.active {
  font-weight: 700;
  font-size: large;
}

.header-profile .form-control {
  border-radius: 30px;
  background-color: #efeeee;
}

.header-profile img.msg {
  margin-right: 20px;
  width: 25px;
  height: 25px;
}

.header-profile img.photo {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

a {
  text-decoration: none;
}

.form-control.mr-sm-2 {
  width: 150px;
  height: 25px;
  margin-left: -20px;
}

/* CONTENT */
main {
  position: relative;
  min-height: 1000px;
  padding-top: 15px;
}

.navbar-nav a.on {
  font-weight: 700;
  border-bottom-style: ridge;
  border-bottom-color: #895537;
}

.main-set {
  /* background-color: #bcbaba; */
  padding-top: 100px;
}

.left-side {
  position: relative;
}
.promo_info {
  position: absolute;
}

/* h1.promo_info {
  left: 70px;
  z-index: 5;
} */

.box1,
.box2,
.box3 {
  border-radius: 20px;
  position: absolute;
  width: 270px;
}
.box1 {
  font-family: "Rubik", sans-serif;

  height: 472px;
  background-color: #ffcb65;

  top: 180px;
  left: -18px;
  z-index: 3;
  text-align: center;
}

div.box1 img {
  margin-top: 40px;
  width: 140px;
}

.col-lg-3 .box1 p {
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 5px;
}

.col-lg-3 h1.promo_info {
  font-weight: 700;
  font-size: 20px;
  line-height: 18px;
  text-align: center;
  margin-bottom: 0px;
  left: 70px;
  top: 40px;
  z-index: 5;
}
p.promo_info {
  top: 70px;
  z-index: 6;
}

.col-lg-3 p {
  text-align: center;
}

.box2 {
  height: 400px;
  top: 216px;
  left: 0px;
  z-index: 2;
  background-color: black;
}
.box3 {
  z-index: 1;

  height: 318px;
  top: 267px;
  left: 10px;
  background-color: #895537;
}

.apply_coupon {
  position: absolute;
  z-index: 5;
  top: 680px;
  left: -18px;
  width: 270px;
  border-radius: 15px;
  background-color: #895537;
  color: white;
}

#terms {
  position: absolute;
  z-index: 6;
  top: 760px;
  left: -18px;
}

#terms .coupon {
  text-align: left;
  font-size: 12px;
  line-height: 0.2;
}
.line {
  border: 1px dashed rgba(106, 64, 41, 1);
  margin-bottom: 10px;
}
.col-md-3 {
  background-color: rgba(255, 255, 255, 1);
}

.menu {
  padding: 10px;
  margin-top: 80px;

  text-align: center;
  border-radius: 20px;
  position: relative;
  width: 110px;
  height: 200px;
  box-shadow: 0 0 5px 5px #f8f8f8;
  padding-bottom: 0;
  vertical-align: bottom;
}

/* .menu p.price {
  margin-top: 10px;
  padding-bottom: 0;
} */

.menu p {
  line-height: 101.34%;
}

.menu-title {
  padding-top: 80px;
  font-weight: 900;
  font-size: 22px;
}

.menu img {
  position: absolute;

  top: -30px;
  left: 6px;
}

/* FOOTER */
.about .description p {
  width: 40%;
  word-wrap: break-word;
}

#footer-set {
  position: relative;
  background-color: #f8f8f8;
}

footer {
  display: flex;
  height: 300px;
  align-items: flex-end;
  margin: 0 auto;
}

footer .about {
  flex: 3;
}

footer .product,
footer .engage {
  flex: 1;
  font-weight: 700;
}
.product li,
.engage li {
  list-style-type: none;
  font-weight: 5;
  font-size: 15px;
  line-height: 2;
}

.product li a,
.engage li a {
  color: black;
}

.product p,
.engage p {
  padding-left: 40px;
}

@media (max-width: 768px) {
  /* RESPONSIVE HEADER */
  .header-menu {
    display: none;
  }
  .header-bar {
    flex: 1;
  }
  .header-bar .fa-bars,
  .header-bar img {
    display: block;
    float: right;
    font-size: 25px;
    padding: 21px 15px;
    color: rgba(106, 64, 41, 1);
  }

  .header-profile {
    display: none;
  }

  footer .about,
  footer .product,
  footer .engage {
    flex: 1;
  }

  .product li,
  .engage li {
    font-size: 12px;
    line-height: 2;
  }

  .about .description p {
    width: 80%;
    font-size: 12px;
  }

  #footer-set .about p {
    font-size: 12px;
  }

  footer {
    align-items: flex-start;
    padding-top: 20px;
  }

  footer-set div.about .social-media {
    align-self: flex-end;
  }

  .menu {
    margin: 40px auto;
  }

  div.left-side {
    top: 1680px;
    left: 150px;
  }

  .col-lg-3 h1.promo_info {
    left: 60px;
  }
  p.promo_info {
    left: -60px;
  }

  /* RESPONSIVE CONTENT */
}

@media (max-width: 992px) {
  /* RESPONSIVE FOOTER */
  .header-menu ul {
    padding-left: 0;
    margin-left: -70px;
  }

  .header-profile {
    margin-right: -60px;
  }

  footer .about {
    flex: 2;
  }

  footer .product,
  footer .engage {
    flex: 1;
  }

  .left-side {
    top: 950px;
    left: 200px;
  }

  #footer-set {
    margin-top: 850px;
  }

  .col-lg-3 h1.promo_info {
    left: 70px;
    top: 70px;
  }
  p.promo_info {
    top: 100px;
    left: -50px;
  }
}

@media (max-width: 576px) {
  .header-logo img {
    width: 27px;
  }
  .header-logo p {
    font-weight: 500;
    font-size: 12px;
  }

  .header-profile {
    display: none;
  }
  .header-bar {
    flex: 1;
  }

  .header-bar img,
  .header-bar .fa {
    padding: 0px;
  }
  .header-bar .fa {
    padding-top: 5px;
  }
}
